body {
    background-color: #2A80B9;
}

.wrapper {
    margin: 10vh auto;
    background-color: white;
    width: 70vw;
    height: 30vh;
    border-radius: 10px;
    padding: 4rem;
}

.form-control {
    display: flex;
}

.form-control input {
    outline: none;
    border: none;
    border-bottom: 1px solid;
    flex-grow: 1;
    margin-right: 2rem;
}